*{
    align-content: space-between;
}
.encabezado{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    padding-left: 2rem;
}

ul{
    margin-top: 0;
    margin-bottom: 1rem;
  }
.galeria{
    display: flex;
    justify-content: space-between;
}

.border1 {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }

.container1{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
.navbar > .container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.d-flex1 {
    display: flex;}

@media (min-width: 576px) {
    .container-sm, .container1 {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container1 {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container1 {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container1 {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container1 {
      max-width: 1320px;
    }
  }